services:
  db:
    image: postgres:15-alpine
    container_name: postgres-studyflow
    restart: unless-stopped
    environment:
      POSTGRES_DB: studyflow
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: